<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" >
            <fa-icon [icon]="faPlaneDeparture"></fa-icon> TravelAgency
        </a> 
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="home" routerLinkActive="active">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tours" routerLinkActive="active">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="basket" routerLinkActive="active">Basket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newTour" routerLinkActive="active">Add Tour</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
