<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand nav-link active" routerLink="home" routerLinkActive="active">
            <fa-icon [icon]="faPlaneDeparture"></fa-icon> TravelAgency
        </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home" routerLinkActive="active">Home </a>
          </li>
          <li  *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="tours" routerLinkActive="active">Tours</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item" >
            <a class="nav-link" routerLink="basket" routerLinkActive="active">Basket</a>
          </li>
          <li *ngIf="authService.canEdit()"class="nav-item">
            <a class="nav-link" routerLink="toursAdmin" routerLinkActive="active">Admin</a>
          </li>
          <li *ngIf="!authService.isLoggedIn()">
            <a class="nav-link active" routerLink="/login" routerLinkActive="active">Log In/Sign Up</a>
          </li>
          <li *ngIf="authService.isLoggedIn()">
            <a class="nav-link active" routerLink="/login" routerLinkActive="active" (click)="logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
