

<div class="container mt-5">
    <div class = "row">
      <div class="col-7 offset-3" >
        <div class="alert" style="color:white" [ngStyle]="{'background-color': bookedTrips>10 ? 'green' : 'red'}">
            <div style="float: left; font-size: 48px; margin: 5px;">
                <fa-icon [icon]="faShoppingBasket"></fa-icon>
            </div>
            <div style="margin-top: 10px;">
                <h4>Total Booked Trips: {{bookedTrips}}<br>
                    Sum Total: {{sumTotal | currency: 'EUR'}}
                </h4>
            </div>
        </div>
      </div>  
    </div>

    <div style="margin-top:15px;" *ngFor="let tour of toursBooked">
        <app-tour-basket
            [tour]="tour" 
            (resign)="onResignFun($event)" 
            (book)="onBookFun($event)">
        </app-tour-basket>
    </div>
</div>