
  <div class="container mt-5">
    <div class = "row text-center">
        <div class="jumbotron" >
            <div class="col-12">
                <h1 class="display-4">About</h1>  
              </div>
              <hr>
              <div class=col-12>
                <p class="lead">Welcome to our website!<br>
                  Here you will find amazing tours. 
                  With our help you, can make your travel fabulous. 
                  We can prepare for you not only a single tour, but also a whole 
                  expedition. Make your travel safer and easier with us.
                </p>  
              </div>
        </div>
    </div>
</div>